.title {
  color: aqua;
  font-size: 40px;
}

.principal {
  border: 0.7px solid #757575;
  border-radius: 20px;
  padding: 10px 10px 20px 30px;
}

.href-arrow:hover {
  filter: invert(1);
}

.href-arrow {
  color: inherit;
  text-decoration: inherit;
  transition: all 0.5s;
}

.pricipal-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 15px;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 30px;
}

.imagenArrow {
  transform: scaleX(-1);
  display: flex;
  align-items: center;
  justify-content: end;
  padding-bottom: 10px;
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.content-planet {
  display: flex;
}

.description {
  font-size: 25px;
}

.secundary-description {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  width: 60%;
}

.table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* Dos columnas: 1 parte para el atributo, 2 para el valor */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
}

.row {
  display: contents;
  /* Permite que las celdas sigan el grid del contenedor */
}

.cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.cell:nth-child(2) {
  text-align: left;
  /* Alinea el texto de los valores a la izquierda */
}

.carousel {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.imagen-carousel {
  width: 100%;
  max-width: 70px;
  max-height: 70px;
}

.image {
  width: 100%;
  max-width: 380px;
  height: 380px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 701px) and (max-width: 950px) {
  .content-planet {
    flex-direction: column;
  }

  .principal {
    border: 0.7px solid #757575;
    border-radius: 20px;
    padding: 20px;
  }

  .secundary-description {
    padding-left: 0;
  }

  .pricipal-description {
    justify-content: center;
    align-items: center;
  }

  .imagen-carousel {
    width: 100%;
    max-width: 65px;
  }

  .image {
    max-width: 450px;
    max-height: 380px;
  }
  

  
  
}

@media (max-width: 700px) {

  /* Para celulares */
  .content-planet {
    flex-direction: column;
  }

  .principal {
    border: 0.7px solid #757575;
    border-radius: 20px;
    padding: 15px;
  }

  .secundary-description {
    padding-left: 0;
    width: 100%;
  }

  .pricipal-description {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

  .imagen-carousel {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
  }
}