.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid gray; /* Initial gray border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 15px 20px rgba(50, 50, 50, 0.4);
    display: flex;
    position: relative; /* Necessary for hover effect */
    transition: border 0.3s ease; /* Smooth transition for the border */
  }
  
  /* On hover, apply gradient border */
  .card:hover {
    border: 2px solid transparent; /* Necesario para aplicar gradiente */
    border-radius: 15px;
    background-image: linear-gradient(#1f2937, #1f2937), linear-gradient(90deg, purple, pink);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  
  
.imagen img {
    width: 100%;
}

.description_imagen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    width: 100%;
    text-align: left;
}

.cardTitle {
    display: flex;
    justify-content: center;
    color: aqua;
    padding-bottom: 10px;
    font-size: 18px;
}

@media (min-width: 701px) and (max-width: 950px) {

    /* Para tabletas */
    .description_imagen {
        width: 80%;
    }

    .cardTitle {
        font-size: 15px;
        padding-bottom: 8spx;
    }

    .cardDescription {
        font-size: 12px;
    }
}

@media (max-width: 700px) {

    /* Para celulares */
    .card {
        display: block;
    }

    .imagen img {
        width: 30%;
    }
}